@media screen and (max-width: 850px){
    main{
        grid-template-columns: auto;
        div.informationArea{
            margin: 5%;
        }
    }
}

@media screen and (max-width: 450px){
    body{
        main{
            div.informationArea{
                div.wrapper{
                    div.text{
                        grid-template-columns: 1fr;
                        h5{
                            font-size: 1.2rem;
                            grid-column: 1/2;
                            margin: 1rem 0;
                        }
                        p{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}